{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aurora | Home</title>
    <!-- Core Dependencies -->
    <link rel="stylesheet" href="{% static 'aurora/css/vis-network.min.css' %}" />
    <script src="{% static 'aurora/js/vis-network.min.js' %}"></script>
    
    <!-- Isolated Custom Stylesheet Asset -->
    <link rel="stylesheet" href="{% static 'aurora/css/landing.css' %}" />
</head>
<body>

    <h1>Aurora</h1>
    <div id="network-container"></div>

    <!-- Isolated Custom Script Engine Asset -->
    <script src="{% static 'aurora/js/landing.js' %}"></script>
</body>
</html>
